:root {
    --user-img-border-radius: 50%;
    --bronze-color: #AB825F;
    --bronze-bg-color: #4d433c;
    --silver-color: #999C9F;
    --silver-bg-color: #424242;
    --gold-color: #F0B400;
    --gold-bg-color: #5d573c;
    --updates-bg-color: #d0caca;
    --tag-background-color-hsl: 210, 50%, 22%;
    --tag-border-color: transparent;
    --tag-color-hsl: 210, 89%, 84%;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #6ac697;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-black: #000;
    --bs-gray: #343a40;
    --bs-gray-dark: #6c757d;
    --bs-gray-050: #121215;
    --bs-gray-100: #252529;
    --bs-gray-150: #2f3238;
    --bs-gray-200: #343a40;
    --bs-gray-300: #495057;
    --bs-gray-400: #6c757d;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #ced4da;
    --bs-gray-700: #dee2e6;
    --bs-gray-800: #e9ecef;
    --bs-gray-900: #f8f9fa;
    --bs-primary: #34a2f6;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #202020;
    --bs-light-rgb: 32, 32, 32;
    --bs-dark: #f8f9fa;
    --bs-dark-rgb: 248, 249, 250;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-white-rgb: 0, 0, 0;
    --bs-black-rgb: 255, 255, 255;
    --bs-body-font-size: 1rem/1.5;
    --bs-body-color: #fff;
    --bs-body-bg: hsl(210, 2%, 15%);
    --accepted-color: #6ac697;
    --bs-link-color: #86B7FE;
    --link-color-hover: #abccff;
    --bs-link-hover-color: #abccff;
    --space-property-background: #d1e7dc;
    --space-property-border: transparent;
    --space-property-color: #198754;
    --code-bg-color: #373831;
    --code-fg-color: #f8f8f0;
    height: 100%;
    --bs-emphasis-color: var(--bs-body-color);
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-color: rgba(233, 236, 239, 0.5);
    --bs-tertiary-color: rgba(173, 171, 154, 0.5);
    --gray: rgb(128, 128, 128);
}

.logo-github:before {
    background-image: url('/static/logos/GitHub-Mark-Light-64px.png');
}


[data-theme="light"] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-050: #fafafa;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem/1.5;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --accepted-color: #6ac697;
    --bronze-bg-color: #f3eae2;
    --silver-bg-color: #e8e8e8;
    --gold-bg-color: #fff6d1;
    --updates-bg-color: #d0caca;
    --bs-link-color: #0d6efd;
    --link-color-hover: #07377F;
    --tag-background-color-hsl: 205, 46%, 92%;
    --tag-border-color: transparent;
    --tag-color-hsl: 205, 47%, 42%;
    --code-bg-color: var(--bs-gray-200);
    --code-fg-color: var(--bs-gray-700);
    --bs-emphasis-color: var(--bs-body-color);
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-color: #6c757d;
    --bs-tertiary-color: rgba(222, 218, 204, 0.5);

    .logo-github:before {
        background-image: url('/static/logos/GitHub-Mark-64px.png');
    }

}