:root {
    --user-img-border-radius: 50%;
    --accepted-color: #6ac697;
    --bronze-color: #ab825f;
    --bronze-bg-color: #f3eae2;
    --silver-color: #999c9f;
    --silver-bg-color: #e8e8e8;
    --gold-color: #f0b400;
    --gold-bg-color: #fff6d1;
    --updates-bg-color: #d0caca;
    --link-color: #0d6efd;
    --link-color-hover: #07377F;
    --tag-background-color-hsl: 205, 46%, 92%;
    --tag-border-color: transparent;
    --tag-color-hsl: 205, 47%, 42%;
    --space-property-background: #d1e7dc;
    --space-property-border: transparent;
    --space-property-color: #198754;
    height: 100%;
    --code-bg-color: var(--bs-gray-200);
    --code-fg-color: var(--bs-gray-700);
    --bs-secondary-bg: #e9ecef;
    --bs-tertiary-color: rgba(33, 37, 41, 0.5);
    --gray: rgb(128, 128, 128);
}

.logo-github:before {
    background-image: url('/static/logos/GitHub-Mark-64px.png');
}

[data-theme="dark"] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-black: #000;
    --bs-gray: #343a40;
    --bs-gray-dark: #6c757d;
    --bs-gray-050: #111215;
    --bs-gray-100: #212529;
    --bs-gray-200: #343a40;
    --bs-gray-300: #495057;
    --bs-gray-400: #6c757d;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #ced4da;
    --bs-gray-700: #dee2e6;
    --bs-gray-800: #e9ecef;
    --bs-gray-900: #f8f9fa;
    --bs-primary: #34a2f6;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #202020;
    --bs-dark: #f8f9fa;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 32, 32, 32;
    --bs-dark-rgb: 248, 249, 250;
    --bs-white-rgb: 0, 0, 0;
    --bs-black-rgb: 255, 255, 255;
    --bs-body-font-size: 1rem;
    --bs-body-color: #fefefe;
    --bs-body-bg: #040614;
    --accepted-color: var(--bs-teal);
    --link-color: #86B7FE;
    --bs-nav-link-color: #86B7FE;
    --link-color-hover: #abccff;
    --bs-link-hover-color: #abccff;
    --bronze-bg-color: #4d433c;
    --silver-bg-color: #424242;
    --gold-bg-color: #5d573c;
    --code-bg-color: #373831;
    --code-fg-color: #f8f8f0;
    --bs-emphasis-color: var(--bs-body-color);
    --bs-secondary-bg: #e9ecef;
    --bs-secondary-color: rgba(233, 236, 239, 0.5);
    --bs-tertiary-color: rgba(222, 218, 204, 0.5);

    .logo-github:before {
        background-image: url('/static/logos/GitHub-Mark-Light-64px.png');
    }
}
