.tagify {
    width: 100%;
    max-width: 700px;
    background: var(--bs-gray-200);
}

/* Suggestions items */
.tagify__dropdown.users-list {
    font-size: 14px;
}
.tagify__dropdown.users-list .tagify__dropdown__item {
    padding: 0.5em 0.7em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 1em;
    grid-template-areas: "avatar name" "avatar email";
}

.tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap {
    transform: scale(1.2);
}
.tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap {
    grid-area: avatar;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--bs-gray-100);
    transition: 0.1s ease-out;
}
.tagify__dropdown.users-list img {
    width: 100%;
    vertical-align: top;
}
.tagify__dropdown.users-list strong {
    grid-area: name;
    width: 100%;
    align-self: center;
    font-weight: 500;
}
.tagify__dropdown.users-list span {
    grid-area: email;
    width: 100%;
    font-size: 0.9em;
    opacity: 0.6;
}
.tagify__dropdown.users-list .addAll {
    border-bottom: 1px solid var(--bs-gray-100);
    gap: 0;
}

/* Tags items */
.tagify__tag {
    white-space: nowrap;
}
.tagify__tag:hover .tagify__tag__avatar-wrap {
    transform: scale(1.6) translateX(-10%);
}
.tagify__tag .tagify__tag__avatar-wrap {
    width: 16px;
    height: 16px;
    white-space: normal;
    background: silver;
    border-radius: 50%;
    margin-right: 5px;
    transition: 0.12s ease-out;
}
.tagify__tag img {
    width: 100%;
    vertical-align: top;
}

.option-disabled {
    cursor: default;
    background-color: var(--bs-gray-100);
    color: var(--bs-dark);
}

.tagify__dropdown.users-list .option-disabled:hover .tagify__dropdown__item__avatar-wrap {
    transform: scale(1);
}