{% extends 'base.html' %}
{% load static compress wiwik_template_tags crispy_forms_tags %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% tool_url 'easymde-css' %}">
    <link rel="stylesheet" href="{% tool_url 'bootstrap-datepicker-css' %}">
    <link href="{% static 'css/tagify.tags.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/tagify-customization.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block extrahead %}
    {#    <script src="{% static 'js/jquery.validate.min.js' %}"></script>#}
    <script src="{% tool_url 'tagify-js' %}"></script>
    <script src="{% tool_url 'tagify-polyfills-js' %}"></script>
    <script src="{% tool_url 'easymde-js' %}"></script>
    <script src="{% tool_url 'bootstrap-datepicker-js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <form method="post" id="spaceEditForm" class="group">
                <fieldset>
                    {% csrf_token %}
                    <legend class="border-bottom">
                        <strong>Editing space info for {{ space.name }}</strong>
                    </legend>

                    <h5>Space info</h5>
                    <div class="row my-2">
                        <div class="col-6">
                            <label for="startDateInput" class="form-label">Start date</label>
                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                <span class="material-icons">calendar_month</span>
                                <input id="startDateInput"
                                       name="startDate"
                                       type="text"
                                       class="form-control"
                                       value="{{ space.start_date | date:'Y-m-d' }}"/>
                                <div class="input-group-addon"></div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="endDateInput" class="form-label">End date</label>
                            <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                                <span class="material-icons">calendar_month</span>
                                <input id="endDateInput"
                                       name="endDate"
                                       type="text"
                                       class="form-control"
                                       value="{{ space.end_date | date:'Y-m-d' }}"/>
                                <div class="input-group-addon"></div>
                            </div>
                        </div>

                    </div>

                    <div>
                        <input id="usersList" class="users-list" name="members" style="width:100%"
                               value="{{ member_usernames }}">
                        {% compress js %}
                            <script src="{% static 'js/user-select-list.js' %}"></script>
                        {% endcompress %}
                    </div>

                    <textarea id="spacepage"
                              name="page">{{ space.page | default_if_none:"" }}</textarea>
                    {% include 'main/includes/easymde.template.html' with msg="Space info" el='spacepage' %}

                    <button style="width:100%" class="btn btn-primary mt-2 mb-2" type="submit">
                        Submit your changes
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
    {#    <script>$("#tagForm").validate();</script>#}
{% endblock %}
