{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% tool_url 'easymde-css' %}">
{% endblock %}

{% block extrahead %}
    {#    <script src="{% static 'js/jquery.validate.min.js' %}"></script>#}
    <script src="{% tool_url 'easymde-js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <form method="post" id="spaceEditForm" class="group">
                <fieldset>
                    {% csrf_token %}
                    <legend class="border-bottom">
                        <strong>Editing space info for {{ space.name }}</strong>
                    </legend>

                    <h5>Space info</h5>
                    <textarea id="spacepage"
                              name="page">{{ space.page | default_if_none:"" }}</textarea>
                    {% include 'main/includes/easymde.template.html' with msg="Space info" el='spacepage' %}

                    <button style="width:100%" class="btn btn-primary mt-2 mb-2" type="submit">
                        Submit your changes
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
{#    <script>$("#tagForm").validate();</script>#}
{% endblock %}
