{% extends 'userauth-base.html' %}
{% load compress crispy_forms_filters crispy_forms_tags %}

{% block content %}

    <div class="col-md-3 mb-0"></div>

    <div class="container card col-md-6 mt-4 p-2" style="flex: 1;">
        <h2 style="text-align: center;"><strong>Sign up</strong></h2>

        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form | crispy }}
            </fieldset>
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'userauth:login' %}">Sign In</a>
            </small>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Sign up
                </button>
            </div>
        </form>
        {% compress js %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $("form").submit(function () {
                        $(this).submit(function () {
                            return false;
                        });
                        return true;
                    });
                });
            </script>
        {% endcompress %}
    </div>
    <div class="col-md-3 mb-0"></div>

{% endblock %}
