{% extends 'base.html' %}
{% load compress %}
{% load humanize userauth_tags %}

{% block content %}
    <h1>Users</h1>
    <div class="mb-2 search">
        <i class="material-icons">search</i>
        <input class="form-control" type="search" placeholder="Search for a user"
               aria-label="Search" name="q"
               hx-get="{% url 'userauth:list_query' %}?"
               hx-trigger="keyup changed delay:300ms"
               hx-target="#usersList"
               style="max-width: 200px;">
    </div>

    {{ content }}
{% endblock %}
