<div id="usersList">
    <!-- Filter -->
    <div class="row">
        <nav>
            <ul class="pagination pagination-md pull-right p-2">
                {% if from_date %}
                    <span class="navbar-brand">Sort by reputation since {{ from_date }} </span>
                {% else %}
                    <span class="navbar-brand">Sort by reputation for </span>
                    <li class="page-item {% if tab == 'week' %}active{% endif %}">
                        <a class="page-link" href="?tab=week">week</a>
                    </li>
                    <li class="page-item {% if tab == 'month' %}active{% endif %}">
                        <a class="page-link" href="?tab=month">month</a>
                    </li>
                    <li class="page-item {% if tab == 'year' %}active{% endif %}">
                        <a class="page-link" href="?tab=year">year</a>
                    </li>
                    <li class="page-item {% if tab == 'all' %}active{% endif %}">
                        <a class="page-link" href="?tab=all">all</a>
                    </li>
                    </ul>
                {% endif %}
        </nav>
    </div>
    <div class="form-control-plaintext">{{ title }}</div>
    <div class="row g-0" id="usersList">
        {% for user in users %}
            <div class="col-lg-3 col-sm-4 pe-2 py-1">
                {% include 'userauth/includes/users-list.usercard.template.html' with u=user %}
            </div>
        {% empty %}
            {% if query %}
                <div>No results found for "{{ query }}"</div>
            {% endif %}
        {% endfor %}
    </div>
    {% include 'userauth/includes/pagination.template.html' with items_list=users %}
</div>