db.sqlite3
env/
.env
.idea/
.last-pip-install
__pycache__/
*.pyc
.coverage
coverage_report.txt
forum/media/user_pics/*
static/
postgres_data
*.log
/forum/static/css/
manage.build/
.DS_Store
*.sql
requests.csv
secret.yaml
private
data.ms