<div class="card">
    <div class="card-body">
        <h5 class="card-title">Step 1: Draft Your Question</h5>
        <p>
            The community is here to help you with specific coding, algorithm,
            or language problems.

            Opinion-based questions will be removed.
        </p>
        <hr class="invis">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <div class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Summarize the problem
                    </button>
                </div>

                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul>
                            <li>Include details about your goal.</li>
                            <li>Describe expected and actual results.</li>
                            <li>Any error messages.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Describe what you’ve tried
                    </button>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">

                    <div class="accordion-body">
                        Show what you’ve tried and tell us what you found (on this site or elsewhere)
                        and why it didn’t meet your needs.
                        You can get better answers when you provide research.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Show some code
                    </button>
                </div>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        When appropriate, share the minimum amount of code others need to reproduce your
                        problem (also called a minimum, reproducible example)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
