{% load wiwik_template_tags %}
{% if t.description %}
    <a class="btn btn-question-tag"
       data-bs-toggle="popover"
       data-bs-trigger="hover"
       data-bs-placement="bottom"
       data-content-id="popover-{{ q_id }}-{{ t.tag_word }}"
       href="{% url 'forum:tag' t.tag_word %}">
        {% if t.tag_word in tags_watched %}
            <span class="material-icons">visibility</span>
        {% endif %}
        {{ t.tag_word }}
    </a>
    <div style="display: none;" id="popover-{{ q_id }}-{{ t.tag_word }}">
        <div class="tag-popover popover" role="tooltip">
            <div class="popover-arrow"></div>

            <div class="popover-body p-1">
                <div class="card-subtitle text-muted">
                    <span class="orange-color">{{ t.number_followers | humanize_number }} watchers</span>
                    {{ t.number_of_questions | humanize_number }} questions
                </div>
                <div class="card-text text-dark pb-2">
                    {{ t.description }}
                    <a href="{% url 'forum:tag' t.tag_word %}">
                        View questions
                    </a>
                </div>
                {% if t.related_tags %}
                    <div class="card-subtitle text-muted">
                        Related tags
                        {% for r_tag in t.related_tags %}
                            <a class="btn btn-question-tag" href="{% url 'forum:tag' r_tag %}">
                                {{ r_tag }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if t.experts_list %}
                    <div class="card-subtitle text-muted">
                        Leaders:
                        {% for u in t.experts_list %}
                            <a href="{% url 'userauth:profile' u.username 'questions' %}"
                               style="margin-left: 5px;">
                                <img src="{{ u.profile_pic.url }}"
                                     onerror="this.onerror=null; this.src='/media/default_pics/no_pic.jpg'"
                                     alt="" height="16" width="16" style="display: block"/>
                                {{ u.display_name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if t.stars_list %}
                    <div class="card-subtitle text-muted">
                        Rising stars:
                        {% for u in t.stars_list %}
                            <a href="{% url 'userauth:profile' u.username 'questions' %}"
                               style="margin-left: 5px;">
                                <img src="{{ u.profile_pic.url }}"
                                     onerror="this.onerror=null; this.src='/media/default_pics/no_pic.jpg'"
                                     alt="" height="16" width="16" style="display: block"/>
                                {{ u.display_name }}
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="pull-right my-2">
                    <a href="{% url 'tags:info' t.tag_word %}"
                       class="btn btn-sm btn-outline-primary">
                        Tag info
                    </a>
                    {% if t.tag_word in tags_watched %}
                        <a href="{% url 'forum:unwatch_tag' t.tag_word %}"
                           class="btn btn-sm btn-outline-secondary">
                            <span class="material-icons">visibility_off</span> Unwatch tag
                        </a>
                    {% else %}
                        <a href="{% url 'forum:watch_tag' t.tag_word %}"
                           class=" btn btn-sm btn-outline-primary">
                            <span class="material-icons">visibility</span> Watch tag
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <a class="btn btn-question-tag"
       href="{% url 'forum:tag' t.tag_word %}">
        {% if t.tag_word in tags_watched %}
            <span class="material-icons">visibility</span>
        {% endif %}
        {{ t.tag_word }}
    </a>
{% endif %}
