{% load wiwik_template_tags compress static %}
<script src="{% tool_url 'tagify-js' %}"></script>
<script src="{% tool_url 'tagify-polyfills-js' %}"></script>
{% compress css %}
    <link href="{% static 'css/tagify.tags.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/tagify-customization.css' %}" rel="stylesheet" type="text/css"/>
{% endcompress %}
<div class="modal fade" id="invite-to-question-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Invite users to answer this question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'forum:invite' q_pk %}">
                {% csrf_token %}
                <div class="modal-body">
                    <input id="usersList" class="users-list" name="usernames" style="width:100%">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Invite users</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% compress js %}
    <script src="{% static 'js/user-select-list.js' %}"></script>
{% endcompress %}