{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col col-md-8">
            <h2>Oops! Something Bad Happened!</h2>
            <p>We apologize for any inconvenience, but an unexpected error occurred while you were browsing our
                site.</p>

            <p>It’s not you, it’s us. This is our fault.</p>

            <p>Detailed information about this error has automatically been recorded and we have been notified.</p>

            <p>Yes, we do look at every error. We even try to fix some of them.</p>

            <p>It’s not strictly necessary, but if you’d like to give us additional
                information about this error, do so at our feedback site,
                <a target="_blank" href="https://github.com/dsoftwareinc/wiwik/issues/new">
                    here
                </a>
            </p>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
