<!-- Pagination -->
<nav aria-label="Page navigation">
    {% if items_list.has_other_pages %}
        <ul class="pagination">
            {% if items_list.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ items_list.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in items_list.paginator.page_range %}
                {% if items_list.number == i %}
                    <li class="active page-item">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if items_list.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ items_list.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
</nav>
