{% extends "userauth-base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
            request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <div class="card container col-md-4 content-section p-4 mt-5">
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">{% trans 'change password' %}</button>
                    </div>
                </form>
            </div>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
