{% load wiwik_template_tags %}
{% if related %}
    <h3>Related posts</h3>
    <div style="font-size: 0.8em;">
        {% for item in related %}
            <a href="{% url 'forum:thread' item.pk %}">
                <div class="row mb-1">
                    <div class="col col-2">
                        {% if item.is_article or item.has_accepted_answer %}
                            <div class="related-votes has-accepted-answer">
                                {{ item.votes }}
                            </div>
                        {% elif item.num_answers > 0 %}
                            votes-frame
                            <div class="related-votes votes-frame">
                                {{ item.votes }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col col-10">
                        {{ item.title | markdownify }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endif %}