{% extends 'base.html' %}
{% load wiwik_template_tags static %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% tool_url 'easymde-css' %}">
{% endblock %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% tool_url 'easymde-js' %}"></script>
{% endblock %}

{% block content %}
    <div hx-get="{% url 'general:update_edit_ping' 'answer' answer_pk %}"
         hx-trigger="every 10s">
    </div>
    <div class="container">
        <div class="row">

            <div class="p-2">
                <h2><strong> Edit answer</strong></h2>
            </div>

            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-8">

                <form method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">

                            {% include 'main/includes/thread.question.template.html' with q=question display_comments_and_buttons=False %}
                            <hr class="invis">
                            <h5 class="card-title">Answer</h5>
                            <p class="card-text">
                                Update answer
                            </p>
                            <textarea id="queseditor" name="queseditor">{{ content }}</textarea>
                            {% include 'main/includes/easymde.template.html' with msg="Type your answer in markdown..." %}

                        </div>
                    </div>

                    <button style="width:100%" class="btn btn-primary mt-2 mb-2" type="submit">
                        Submit your changes
                    </button>
                </form>
            </div>
            <div class="col-12 col-md-3">
            </div>
        </div>
    </div>
{% endblock %}
{% block code_formatting %}
    {% include 'main/includes/code-formatting.template.html' %}
{% endblock %}

